<div th:replace="~{fragments/header}"></div>

<div class="container">

	<div class="row">
		<div class="col-12">
			<h2 class="h3 mb-2 text-gray-800">Editar Usuário</h2>
		</div>
	</div>

	<div class="card shadow mb-4 p-4">
		<form method="POST" th:action="@{'/user/' + ${user.id} + '/alter'}">
			<div class="row g-3">

				<!-- ID -->
				<div class="col-sm-6">
					<label>ID</label> <input type="number" th:value="${user.id}"
						class="form-control" name="id" readonly>
				</div>

				<!-- Nome -->
				<div class="col-sm-6">
					<label>Nome</label> <input type="text" th:value="${user.firstName}"
						class="form-control" name="firstName" required>
				</div>

				<!-- Sobrenome -->
				<div class="col-sm-6">
					<label>Sobrenome</label> <input type="text"
						th:value="${user.lastName}" class="form-control" name="lastName"
						required>
				</div>

				<!-- Gênero -->
				<div class="col-sm-6">
					<label for="gender" class="form-label ">Gênero<span
						class="text-danger">*</span></label> <select
						class="form-select form-select-sm form-control"
						aria-label="Small select example" name="gender" id="gender"
						th:field="*{user.gender}" required="required">
						<option
							th:each="gender : ${T(com.bandampla.condmyapp.enums.Gender).values()}"
							th:value="${gender}" th:text="${gender}"></option>
					</select>
				</div>

				<!-- CPF -->
				<div class="col-sm-6" id="cpf">
					<label>CPF <span class="text-danger">*</span></label> <input
						type="text" th:value="${@maskUtils.maskCpf(user.cpf)}" name="cpf" class="form-control">
				</div>

				<!-- CNPJ -->
				<div class="col-sm-6 d-none" id="cnpj">
					<label>CNPJ <span class="text-danger">*</span></label> <input
						type="text" name="cnpj" class="form-control">
				</div>
				<!-- Usuário -->
				<div class="col-sm-6">
					<label>Usuário</label> <input type="text"
						th:value="${user.username}" class="form-control" name="username"
						readonly>
				</div>

				<!-- Email -->
				<div class="col-sm-6">
					<label>Email</label> <input type="email" th:value="${user.email}"
						class="form-control" name="email" required>
				</div>

				<!-- Grupo -->
				<div class="col-sm-6">
					<label for="userGroup" class="form-label ">Grupo<span
						class="text-danger">*</span></label> <select
						class="form-select form-select-sm form-control"
						aria-label="Small select example" name="userGroup" id="userGroup"
						th:field="*{user.userGroup}" required="required">
						<option
							th:each="userGroup : ${T(com.bandampla.condmyapp.enums.UserGroup).values()}"
							th:value="${userGroup}" th:text="${userGroup}"></option>
					</select>
				</div>

				<!-- Status -->
				<div class="col-sm-6">
					<label for="status" class="form-label ">Status<span
						class="text-danger">*</span></label> <select
						class="form-select form-select-sm form-control"
						aria-label="Small select example" name="status" id="status"
						th:field="*{user.status}" required="required">
						<option
							th:each="status : ${T(com.bandampla.condmyapp.enums.Status).values()}"
							th:value="${status}" th:text="${status}"></option>
					</select>
				</div>
				<!-- Senha (em branco por padrão) -->
				<div class="col-sm-6">
					<label for="password" class="form-label">Nova Senha<span
						class="text-danger">*</span></label> <input type="password"
						class="form-control" name="password" id="password"
						placeholder="Digite nova senha">
					<!-- Regras de senha -->
					<div class="alert alert-warning px-3 py-2 mt-2 d-none"
						id="password-alert">
						<ul class="list-unstyled mb-0 small">
							<li class="requirements leng"><i
								class="fas fa-check text-success me-2 d-none"></i> <i
								class="fas fa-times text-danger me-3"></i> Pelo menos 8
								caracteres</li>
							<li class="requirements big-letter"><i
								class="fas fa-check text-success me-2 d-none"></i> <i
								class="fas fa-times text-danger me-3"></i>Pelo menos 1 letra
								maiúscula</li>
							<li class="requirements num"><i
								class="fas fa-check text-success me-2 d-none"></i> <i
								class="fas fa-times text-danger me-3"></i>Pelo menos 1 número</li>
							<li class="requirements special-char"><i
								class="fas fa-check text-success me-2 d-none"></i> <i
								class="fas fa-times text-danger me-3"></i>Pelo menos 1 caractere
								especial</li>
						</ul>
					</div>
				</div>
				<!-- Confirmar senha -->
				<div class="col-sm-6">
					<label for="confirmPassword" class="form-label">Confirmar
						Nova Senha<span class="text-danger">*</span>
					</label> <input type="password" class="form-control" name="confirmPassword"
						id="confirmPassword" placeholder="Confirme a nova senha">
					<small id="confirm-message" class="d-none"></small>
				</div>

				<!-- Checkbox trocar senha -->
				<div class="col-sm-6">
					<div class="form-check">
						<input type="checkbox" class="form-check-input"
							name="trocarSenhaProximoLogin" value="true"
							th:checked="${user.trocarSenhaProximoLogin}"> <label
							class="form-check-label">Trocar senha no próximo login</label>
					</div>
				</div>
				<!-- Observação -->
				<div class="col-12">
					<label>Observação</label>
					<textarea name="description" class="form-control"
						th:text="${user.description}"></textarea>
				</div>

				<!-- Botão -->
				<div class="p-3">
					<button type="submit" class="btn btn-primary btn-lg w-100">Salvar
						Alterações</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div th:replace="~{fragments/footer}"></div>
