<div th:replace="~{fragments/header-login}"></div>
<div class="card-body p-0">
	<!-- Nested Row within Card Body -->
	<div class="row justify-content-center d-flex align-items-center ">
		<div class="col-lg-6">
			<img class="mx-auto d-block" th:src="@{/img/banner_logo_2.png}">
		</div>
		<div class="col-lg-6">
			<div class="p-5">
				<div class="text-center">
					<h1 class="h4 text-gray-900 mb-4">Bem vindo!</h1>
				</div>
				<form method="POST" th:action="@{/login}" class="user">


					<div class="form-group form-outline">
						<input type="text" class="form-control form-icon-trailing"
							id="username" name="username" placeholder="Usuário"
							aria-describedby="emailHelp" required>
					</div>
					<div class="input-group">
						<input type="password" name="password" id="password"
							class="form-control" placeholder="Senha" required>
						<div class="input-group-append">
							<span class="input-group-text" style="cursor: pointer;"> <i
								class="far fa-eye" id="show-password-toggle-icon"></i>
							</span>
						</div>
					</div>
					<div class="form-group">
						<div class="custom-control custom-checkbox small">
							<input type="checkbox" class="custom-control-input" id="remember"
								name="remember"> <label class="custom-control-label"
								for="remember">Lembrar Me</label>
						</div>
					</div>
					<div th:if="${param.error}" class="alert alert-danger" th:text="${param.error[0]}"></div>
					<div th:if="${param.logout}" class="alert alert-success">Você saiu do sistema.</div>
					<div th:if="${param.expired}" class="alert alert-warning">Sessão expirada. Faça login novamente.</div>


					<button type="submit" class="btn btn-primary btn-block"data-mdb-ripple-init> Login</button>
					<hr>
					<a href="/login" class="btn btn-google btn-block"> <i
						class="fab fa-google fa-fw"></i> Login com Google
					</a> <a href="" class="btn btn-facebook btn-block"> <i
						class="fab fa-facebook-f fa-fw"></i> Login com Facebook
					</a>
				</form>
				<hr>
				<div class="text-center">
					<a class="small" th:href="@{/auth/alterarsenha}">Resetar Password?</a>
				</div>
				<div class="text-center">
					<a class="small" href="register.html">Crie uma conta!</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:replace="~{fragments/footer-login}"></div>